/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
}
ul {
  list-style: none;
}
li {
	list-style: none;
}

#states-icon {
  position: relative;
  top: 8px;
  width: 50px;
  height: 40px;
  
}
#blurb-icon {
  position: relative;
  top: 8px;
  width: 40px;
  height: 40px;
  
}


.login-background {
	
  position: relative;
  margin: 0 auto;
  width: 950px;
  height: 740px ;
  top: 90px;
  padding: 0px;

}
.header-text {
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	margin: 0 auto;
	display: inline-block;
	right: 150px;
	color: #4d4e4f;
	padding: 2px;
	border-radius: 10px;
	width: 300px;
	}
	
html {
	background-image: url('clouds-background.png');
	background-color: transparent;
	background-size: 100%;
	background-position: fixed;
	
}

 

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}


.loginState {
  display: none;
}

.header {	
  position: fixed;
  height: 70px;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  background-color: #4d4e4f;
  opacity: 0.80;
}

.header-logo {
  position: relative;
  float: left;
  top: 5px;
  left: 20px;
  padding-top: 0;
  height: 65px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px;
  background-color: #14c9ff;
  opacity: 1;
}

.header-nav {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}

.header-list button{
	position: relative;
	float: right;
	top: 20px;
	padding: 5px;
	font-size: 19px;
	right: 50px;
	height: 25px;
	width: 100px;
	border: 2px solid black;
	color: #14c9ff;
	text-align: center;
	background-color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.header-list a{
	position: relative;
	float: right;
	top: 20px;
	padding: 5px;
	margin-left: 5px;
	font-size: 19px;
	right: 50px;
	height: 25px;
	width: 100px;
	border: 2px solid black;
	color: #14c9ff;
	text-align: center;
	background-color: black;
	border-radius: 5px;
}

.welcome {
	position: relative;
	float: right;
	top: 20px;
	padding: 5px;
	font-size: 19px;
	right: 50px;
	height: 25px;
	width: auto;
	border: 2px solid black;
	color: #14c9ff;
	text-align: center;
	background-color: black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-transform: capitalize;
}

.city-detail{
  position: relative;
  float: left;
  left: 40px;
  width: 400px;
  height: 500px;
  margin: 15px;
  padding: 20px;
  background-color: rgba(242, 242, 242, .7);
}

.city-detail h1 {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;

}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    float: left;
    margin: 5px 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
} 

input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]:focus::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -1px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 16px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: -webkit-gradient(linear, left top, right top, from(#2F2727), to(#1a82f7));
  border-radius: 16px;
  border: 0.2px solid #010101;
  color: black;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 16px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: -webkit-gradient(linear, left top, right top, from(#2F2727), to(#1a82f7));
  border-radius: 16px;
  border: 0.2px solid #010101;
  color: black;

}

input[type=range]::-ms-fill-lower {
  background: -webkit-gradient(linear, left top, right top, from(#2F2727), to(#1a82f7));
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: -webkit-gradient(linear, left top, right top, from(#2F2727), to(#1a82f7));
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.blurb-header {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  overflow: scroll;
}

.blurb-item ul {
  position: relative;
  display: inline-block;
  width: 120px;
  max-height: 140px;
  background-color: #dedede;
  padding-left: 10px;
  float: left;
  font-size: 18px;
}
.blurb-item {
  position: relative;
  display: inline-block;
  width: 97%;
  float: left;
  padding: 2px;
  
  background-color: #f5f5ee;
}
.rating-title {
  position: relative;
  float: left;
}

.ratings {
  width: 100px;
  height: 24px;
  float: left;
  position: relative;
  display: block;
  margin: 5px;

  vertical-align: baseline;
}
.rating-num {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 3px;
  background-color: white;
  float: right;
  color: #b4d235;
  

 
}

.blurb-text {
  float: right;
  position: relative;
  width: 60%;
  display: inline-block;
  text-align: left;
  max-height: 140px;
  background-color: #f5f5ee;
  color: #505050;
}

.city-averages {

  background-color: #f5f5ee;
  border: 1px solid #d2d2c1;
  width: 100%;
  height: 120px;
}
.city-averages li {

  color: #505050;
  float: left;
  font-size: 24px;
  font-weight: 250px;
  padding: 18px;
  width: 57px;  
}

.city-averages-title {
  float: left;
  margin-top: 28px;
  position: absolute;
  color: green;
  
}
.city-name-title {
  position: relative;
  
  width: 100%;
  height: 30px;
  font-size: 30px;
  font-weight: 550;
  text-align: left;
  padding:5px;
  
   background: linear-gradient(330deg, #b4d235 70%, #92ae1f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.usa-city {
  position: relative;
  text-align: center;
}

.city-search-container {
  margin: 0 auto;
  width: 60%;
}

.city-search {
  border: 1px solid black;

  background-color: white;
  width: 170px;
  height: 28px;
}
.city-search-item {
  visibility: hidden;
  max-height: 45px;
  overflow: scroll;
  border: 1px solid black;
  width: 170px;
}
.city-search-item li {
  margin-bottom: 3px;
  margin-top: 3px;
}

.city-search:focus ~ .city-search-item {
  visibility: visible;
  /*background-color: blue;*/
}
.city-search-item:hover {
  visibility: visible;
}

/* Mihir said that you could try having the onClick function
 clear the list that is populating it. hope that helps :)  */

/*.city-search-item:target {
  visibility: hidden;
}*/


.city-search-button {
  position: relative;
  background: url('search-icon.png') no-repeat;
  width: 25px;
  height: 24px;
  background-size: 23px 23px;
  background-origin: content-box;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; 
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  top: 7px;
  padding: 2px;

  background-color: rgba(77, 78, 79, .4)

}
.city-search-button:hover {
   background-color: rgba(77, 78, 79, .6)
}
.search-more-cities .city-search-container {

  font-size: 20px;
  width: 70%;

}
.search-more-cities {
  margin-top: 10px;
  font-size: 20px;
}

.usa-state {
  float: right;
  position: relative;
  display: block;
  margin: 0px;
  width: 1050px;
  left: 50px;
  height: 600px;
  top: 100px;
  border-radius: 4px;

}

.usa-state-item {
  float: left;
  left: 40px;
	display: inline-block;
	position: relative;
  width: 300px;
  height: 500px;
	font-size: 40px;
	margin: 15px;
  padding: 20px;
	text-align: center;
	background-color: rgba(242, 242, 242, .7);
}
.state-name {
  font-size: 40px;
  color: white;
  border: 3px solid black;
  background-color: #4d4e4f; 
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}
.state-cities li{ 

  position: relative;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #b4d235;
  /*background-color: rgba(255, 102, 102, .7);*/
}

.top-cities-header {
  text-align: left;
}
.top-city {
  width: 280px;
  height: 30px;
}
.top-city-link {
  display: block;
  float: left;
}
.top-city-rating {
  display: block;
  float: right;
  padding: 5px;
  background-color: #f5f5ee;
}
.top-city-rating:hover {
  background-color: #14c9ff; 
  color: #f5f5ee;
}
  
.state-cities {
   font-size: 20px;
   top: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
   
   width: 100%;
   display: block;
   padding-top: 10px;
}

.modal-form {
  float: right;
  width: 400px;
  height: 400px;
  position: relative;
  
  background-color: rgba(242, 242, 242, .7);
}
.list-of-labels {
 float: left;
 position: relative;
 
 height: 50%;
 width: 40%;
 background-color: rgba(242, 242, 242, .7);

}
.list-of-labels label{
  display: block;
  position: relative;
  text-align: left;
  font-size: 20px;
  width: 100px;
  padding: 14px;
}
.rating-weather-input{
  width: 200px;
  height: 30px;
  display: block;
  padding: 5px;
  position: relative;
}
.rating-food-input{
  width: 200px;
  height: 30px;
  display: block;
  padding: 5px;
  position: relative;
}
.rating-nightlife-input{
  width: 200px;
  height: 30px;
  display: block;
  padding: 5px;
  position: relative;
}
.rating-traffic-input{
  width: 200px;
  height: 30px;
  display: block;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}
.rating-inputs { 

 width: 226px;
 height: 190px;
 float: left;
 background-color: rgba(242, 242, 242, .7);
 padding: 5px;
}
.blurb-input {
  display: inline-block;
  position: relative;
  float: left;
  
  padding: 10px;
  width: 380px;
  height: 50px;
  background-color: rgba(242, 242, 242, .7);
}
.blurb-input input {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  width: 370px;
  max-height: 70px;
  overflow: scroll;
}
.modal-submit-button {
  text-align: center;
   position: relative;
   width: 50px;
   height: 25px;
   padding: 10px;
   float: right;
   margin: 3px;
   background-color: #b4d235;
}
.modal-submit-button:hover {
  background-color: #14c9ff; 
  color: #f5f5ee;
}
.modal-form button {
  text-align: center;
  position: relative;
  width: 50px;
   height: 25px;
   padding: 10px;
   float: right;
   margin: 3px;
   background-color: #b4d235;
}
.modal-form button:hover {
  background-color: #ff0000;
  color: #f5f5ee;
}

.modal-header {
  display: inline-block;
  position: relative;
  float: right;
 
}
.cloud-modal {
  background-color: #14c9ff;
  margin: 20px;
  border-radius: 10px;
  width:110px;
  height: 110px;
  color: white;
  text-align: center;
  font-size: 16px;
  
}
.bird-icon {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  width: 90px;
  height: 90px;
  transform: translateX(100%);
}
#modal:hover .bird-icon {
 visibility: visible;
}

.sidebar-header {
  float: left;
  position: fixed;
  margin: 0 auto;
  width: 280px;
  height: 50%;
  top: 130px;
  

}
.sidebar-nav {
  float: left;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100%;
  background-color: #4d4e4f;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgba(77, 78, 79, .8)
 
}


.sidebar a{
  right: 5px;
  font-size: 17px;
	display: block;
  position: relative;
  height: 100%;
  text-align: center;
  padding: 20px;
  color: #14c9ff;
  text-shadow: 2px 2px black;
  margin-bottom: 6px;
  margin-top: 10px;   
}
.sidebar a:first-child:hover{
  color: white;
}
.sidebar a:nth-child(2):hover{
  color: white;
}
.write-blurb-tab{
  
  position: relative;
  display: block;
  width: 172px;
  height: 100px;
  float: left;
  background-color: #14c9ff; 
}
.city-search-blurb-container {
  width: 100%;
}
.city-search-blurb {
  border: 1px solid black;

  background-color: white;
  width: 150px;
  height: 28px;
}

.city-search-item-blurb {
  visibility: hidden;
  max-height: 45px;
  overflow: scroll;
  border: 1px solid black;
  width: 150px;
}
.city-search-item-blurb li {
  margin-bottom: 3px;
  margin-top: 3px;
}
.city-search-blurb:focus ~ .city-search-item-blurb {
  visibility: visible;
  /*background-color: blue;*/
}
.city-search-item-blurb:hover {
  visibility: visible;
}





.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}






